Importing the libraries

In [ ]:
import numpy as np 
import pandas as pd

step 2: Importing dataset

In [ ]:
dataset=pd.read_csv('/content/Data.csv')
dataset.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [ ]:
x=dataset.iloc[:,:-1].values
y= dataset.iloc[:,3].values
print(x)
print(y)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 nan]
 ['France' 35.0 58000.0]
 ['Spain' nan 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]
['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']

step 3: Handling the missing data

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer = imputer.fit(x[: ,1:3])

x[ : , 1:3] = imputer.transform(x[ : , 1:3])

step 4: Encoding categorical data

In [ ]:
from sklearn.preprocessing import LabelEncoder , OneHotEncoder
labelencoder_x = LabelEncoder()

x[: , 0] = labelencoder_x.fit_transform(x[ :,0])

step 5 : creating a dummy varibale

In [ ]:
from pandas.io.formats.format import DataFrameFormatter
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[0])], remainder='passthrough')
dataset = pd.DataFrame(ct.fit_transform(dataset))
dataset

     0    1    2     3        4    5
0  1.0  0.0  0.0  44.0  72000.0   No
1  0.0  0.0  1.0  27.0  48000.0  Yes
2  0.0  1.0  0.0  30.0  54000.0   No
3  0.0  0.0  1.0  38.0  61000.0   No
4  0.0  1.0  0.0  40.0      NaN  Yes
5  1.0  0.0  0.0  35.0  58000.0  Yes
6  0.0  0.0  1.0   NaN  52000.0   No
7  1.0  0.0  0.0  48.0  79000.0  Yes
8  0.0  1.0  0.0  50.0  83000.0   No
9  1.0  0.0  0.0  37.0  67000.0  Yes

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
dataset.iloc[:,-1] = le.fit_transform(dataset.iloc[:,-1])
dataset

     0    1    2     3        4  5
0  1.0  0.0  0.0  44.0  72000.0  0
1  0.0  0.0  1.0  27.0  48000.0  1
2  0.0  1.0  0.0  30.0  54000.0  0
3  0.0  0.0  1.0  38.0  61000.0  0
4  0.0  1.0  0.0  40.0      NaN  1
5  1.0  0.0  0.0  35.0  58000.0  1
6  0.0  0.0  1.0   NaN  52000.0  0
7  1.0  0.0  0.0  48.0  79000.0  1
8  0.0  1.0  0.0  50.0  83000.0  0
9  1.0  0.0  0.0  37.0  67000.0  1

step 6 : Splitting the datasets into training sets and Test sets

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split( x , y , test_size = 0.2, random_state = 0)

step 7: Features Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.fit_transform(X_test)